body {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
    
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#header {
	text-align: center;
    background-image: url(../images/HEADER.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    height: 60%;
    width: 100%;
    font-size: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34495E;
}

li {
    
    font-family: Calibri;
    font-size: 25px;
    line-height: 30px;
    border-bottom: 1px solid #888
}

li a {
	border-radius: 10px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: .3s background-color;
    
}
 
li a:hover {
  background-color: #5d6e6f;
}

.active {
  background-color:  #3a4545;
  
  cursor: default;
}

h2{
    font-family: helvetica;
    font-size: 29px;
}
h3{
    font-family: helvetica;
    font-size: 29px;
}

#about {
	width: 100%;
    height: 25%;
    background-color: #8b5f65;
    text-align: left;

}


#img1 {
    border: 3px solid #000000;
    background-color: #8b5f65;
    width: 500px;
    margin: auto;
    padding: 10px;
}

#img2 {
    border: 3px solid #000000;
    background-color: #8b5f65;
    width: 500px;
    margin: auto;
    padding: 10px;
}

[id='#vision']{
    padding: 10px;
    font-family: verdana;
    font-size: 16px;
}

[id='#mission']{
    padding: 10px;
    font-family: verdana;
    font-size: 16px;
}

#imgPar{
    font-family: verdana;
    font-size: 13px;
    text-align: center;
    background-color: #8b5f65;
 
}

#core{
    width: 100%;
    height: 25%;
    background-color: #8b5f65;
    text-align: left;
}

#off{
    width: 100%;
    height: 35%;
    font-family: verdana;
    background-color: #8b5f65;
    text-align: left;
}

