body {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
    
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
	
}

#header {
	text-align: center;
    background-image: url(../images/HEADER.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    height: 60%;
    width: 100%;
    font-size: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34495E;
}

li {
    
    font-family: Calibri;
    font-size: 25px;
    line-height: 30px;
    border-bottom: 1px solid #888
}

li a {
	border-radius: 10px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: .3s background-color;
    
}
 
li a:hover {
  background-color: #5d6e6f;
}

.active {
  background-color:  #3a4545;
  
  cursor: default;
}

#enviTitle{
    padding-left: 10px;
    font-family: helvetica;
    font-weight: bold;
    
}

#par1 {
	padding: 10px;
    font-family: verdana;
	font-size: 17px;
	border-radius: 3px;
	text-align: left;
}


#par2 {
	padding: 10px;
    font-family: verdana;
	font-size: 14px;
	border-radius: 3px;
	text-align: center;
}


#par3 {
	padding: 10px;
    font-family: verdana;
	font-size: 17px;
	border-radius: 3px;
}

#par4 {
	padding: 10px;
    font-family: verdana;
	font-size: 14px;
	border-radius: 3px;
	text-align: center;
}

#par5 {
	padding: 10px;
    font-family: verdana;
	font-size: 17px;
	border-radius: 3px;
}