body {
  font-size: 28px;
  padding-left: 15%;
  background-color: #5D1200;
  color: #EEEEEE;

}

@media screen and (max-height: 400px) {
  #nav {
    margin: 0px;
    padding-top: 15px;
  }
  #nav a {
    margin: 0px;
    font-size: 18px
  }
}


#nav {
    margin: 0px;
    height: 120%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222222;
    overflow-x: hidden;
    padding-top: 20px;
}

#nav a {
    margin: 0px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
 
#nav a:hover {
  color: #f1f1f1;
}

.active {
  background-color:  #5d6e6f;
  cursor: default;
}
