body {
  font-size: 28px;
  padding-left: 15%;
  background-color: #efefef;
  width: 83%;

}


@media screen and (max-height: 400px) {
  #nav {
    margin: px;
    padding-top: 15px;
  }
  #nav a {
    margin: 0px;
    font-size: 18px
  }
}


#nav {
    margin: 0px;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e37222;
    overflow-x: hidden;
    padding-top: 20px;
}

ul{
    list-style-type:none; 
}

#nav a {
    margin-left: -50px;
    margin-bottom: 18px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 27px;
    font-family: OpenSans;
    color: white;
    display: block;
}
 
#nav a:hover {
  color: #f1f1f1;
}

.active {
  background-color:  #07889B;
  cursor: default;
}

@keyframes slider {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

div#gallery {
	overflow: hidden;
	height: 800px;
}

div#gallery figure img {
	width: 20%;
	float: left;
}

div#gallery figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 20s slider infinite;
}

h1#BakHed {
  font-size: 92px;
  font-family: Lavi;
  text-align: center;
  line-height: 150px;
  margin-bottom: -30%;
}

p#BagHed {
  font-size: 42px;
  text-align: center;
  font-family: OpenSans;
  line-height: 700px;
}

#header{
    background-image: url(../images/background2.png);
    width: 100%;
    height: 100%; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -5%;
    color: white;
}


@font-face {
  font-family: Lavi;
  src: url(fonts/Lavi.ttf);
}

@font-face {
  font-family: OpenSans;
  src: url(fonts/OpenSans-Bold.ttf);
}