body {
	padding: 25px;
	margin: 0;
	width: 96%;
	background-color: #708090;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aa5355;
}

li {
    font-family: Calibri;
    font-size: 25px;
    line-height: 30px;
    border-bottom: 1px solid #FFEFDB

}

li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    transition: .3s background-color;
    
}
 
li a:hover {
  background-color: #EEE5DE;
}

.active {
  background-color:  #8B8989;
  
  cursor: default;
}


@font-face {
  font-family: Yonky-Black-demoFFP;
  src: url(fonts/Yonky-Black-demoFFP.ttf);
}

@font-face {
  font-family: Azedo-Bold;
  src: url(fonts/Azedo-Bold.otf);
}
/**
h1#BakHed {
  font-size: 92px;
  font-family: Azedo-Bold;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p#BagHed {
  font-size: 42px;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

*/

#par1 {
  font-family: Azedo-Bold;
}
